h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

body {
  text-align: center;
  background-color: #011f3f;
}

p {
  color: aliceblue;
}

.rules {
  display: none;
  font-size: 17px;
  line-height: 40px;
  text-align: left;
  margin-top: 10px;
}

.rules-box {
  position: relative;
  margin: auto;
  bottom: 50px;
  width: 50%;
  text-align: center;
}

#rulesBtn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: white;
  font-size: 20px;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5% ;
  color: #fef2bf;
}

.dropdown-menu {
  position: relative;
}

.container {
  display: block;
  width: 30%;
  margin: 0 auto auto;
}

.button {
  margin: 25px auto 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.b1 {
  background-color: #b2ebf2;
}

.b2 {
  background-color: #efa8e4;
}

.b3 {
  background-color: green;
}

.b4 {
  background-color: #f8fab8;
}

.button{
  margin-top: 3%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#start-over {
  margin-top: 50px;
}

.invisible {
  visibility: hidden;
}

#start-over{
  margin-top: 0;
  margin-bottom: 0;
}

.start-over-msg {
  margin-left: 40px;
  display: inline;
}

.level-instruction {
  position: relative;
  bottom: 70px;
  color: #74d4c0;
}

.flash{
  color: white;
}

